<p id="notice"><%= notice %></p>
<pre><%= result=`python3 lib/assets/python/nlp.py`%> </pre>

<p>
  <strong>Email:</strong>
  <%= @record.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @record.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @record.language %>
</p>

<p>
  <strong>Transcript:</strong>
  <%= @record.transcript %>
</p>


<script language="JavaScript" type="text/javascript">
var seconds =5;
var url="https://babeluclx.herokuapp.com/records/result";

function redirect(){
 if (seconds <=0){
 // redirect to new url after counter  down.
  window.location = url;
 }else{
  seconds--;
  document.getElementById("pageInfo").innerHTML = "redirect after "+seconds+" seconds."
  setTimeout("redirect()", 1000)
 }
}
</script>

<div id="pageInfo">
<script>
 redirect();
</script>


<% link_to 'Edit', edit_record_path(@record) %> 
<% link_to 'Back', records_path %>
